/*responseive*/
@media only screen and (max-width: 768px){
    #score-1,#score-2{
      display:none;
    }

    div.bg-image3{
        background-image: none;
    }

    #newsletter{
        display:none;
    }

    #navbar-big{
        display:none;
    }
    

    #carousel-1{
        display: inline-flex;
        padding: right 0rem;;
        margin:0;
    }

    div.col-md-6{
        padding: 0;
    }

    #img-ava{
        display: none;
    }

    h5{
        font-size: small;        
    }

    div.container-fluid-1{
        resize: both;
    }


}

@media only screen and (min-width: 768px){
    #navbar-small{
        display: none;
    }
}

/*global-styles-start*/
.card-title,.content-title{
    color: darkorange
   
}

.content-text{
    color: white;
}

.display-5{
    color: white;
    font-size:4vw;
}

.sub-display{
    color: white;
    font-size:3vw;
}

.sub-display-1{
    color: white;
    font-size:1.5vw;
}
/*global-styles-end*/

/*background-sections-start*/
.bg-image1{
    background: url(./assets/img/main-bg.jpg);
    background-size: cover;
    background-position: bottom center;
    height: 100%;
    margin: 0%;
}

.bg-image2{
    background: url(./assets/img/the-games-bg.jpg);
    background-size: cover;
    background-position: bottom center;
    height: 100%;
    margin: 0%;
}

.bg-image3{
    background: url(./assets/img/features.png);
    background-size: cover;
    background-position: top center;
    height: 100%;
    margin: 0%;
}

.bg-image4{
    background: url(./assets/img/requirements.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    margin: 0%;
}

.bg-image5{
    background: url(./assets/img/top-score-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 100%;
    margin: 0%;
}

.bg-image6{
    background: url(./assets/img/newsletter.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    margin: 0%;
}

.backhitam{
    background-color: black;
}
/*background-sections-end*/

/*container-start*/
.container-fluid{
    padding-left: 0rem;
    padding-right: 0rem;
    margin: 0rem;
    overflow: hidden;
}

.container-fluid-1{
    padding-left: 0rem;
    padding-right: 0rem;
    margin: 0rem;
    overflow: hidden;
}
/*container-end

/*content-font-etc-start*/
.section-title,.jumbotron-title{
    color: white;
    font-weight: bold;
    font-size: 25pt;

}

.section-sub,.jumbotron-sub{
    color: white;
    font-size: 15pt;
}
/*content-font-etc-end*/

/*component-style-start*/
.nav-link{
    color: white;
    font-weight: bold;
}

.nav-link:hover{
    color: white;
    background-color:darkorange;
    opacity: 70%;
  }

.table{
    border-right: 1px white;
    border-left: 1px white;
    border-top: 1px white;
    border-bottom: 1px white;
}
/*component-style-end*/

/*timeline-start*/
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before, ul.timeline-1:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 80%;
    z-index: 400;
}
ul.timeline > li {
    margin-left: 0px;
    margin-bottom: 2em;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
ul.timeline-1{
    list-style-type:none;
    position: relative;
}

ul.timeline-1 > li {
    margin-left: 0px;
    margin-bottom: 2em;
    padding-left: 20px;
}

ul.timeline-1 > li:before {
    content:' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
/*timeline-end*/

.card-body{
    /*background-color: rgb(53, 52, 52);*/
    background-color: rgba(90, 90, 90, 0.938)
    
}

.card-text{
    color: white;

}


.card {
    background-color: rgb(53, 52, 52);
    border-width: 0;
    border-radius: .25rem;
    padding: 0;    
}

.suit,.upper-suit{
    border-radius: 0%;
    max-width: 60%;
    height: auto;
    padding: 0%;
}

.container-fluid{
    height: fit-content;
}

.com,.pemain{
    flex:0 0 10;width:15%;
    align-content:flex-end;
    
}

body { 
    width: 100%; 
    height: 100%; 
    margin: 0 auto; 
    align-content: center; }


@media(max-width:750px){
    .pemain{
        flex-direction: row;
        flex:0 0 auto;width:85%;
        padding-left: 5rem;
    }
    
    .suit{
        border-radius: 0%;
        max-width: 30%;
        height: auto;
        padding: 0%;
    }

  
    .upper-suit{
        border-radius: 0%;
        max-width: 15%;
        height: auto;
        padding: 0%;
    }
    

}

#vs.mid{
display: flex;
flex-direction: column;
justify-content: center;
padding-bottom: 5rem;
}

#com.box-3{
margin-left: 42%;
}

#player.box-2{
display: flex;
flex-direction: row;
justify-content: left;
margin-left:20%;
}

#com.box-2{
display: flex;
flex-direction: row;
justify-content: left;
margin-left: 45%;
}

#ref.box-2{
display: flex;
flex-direction: row;
height: fit-content;
width: fit-content;
background-color: darkgoldenrod;
padding-bottom: 1rem;
}


#ref.box{
display: flex;
flex-direction: row;
justify-content: center;
}

#kembali.upper-link{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-left: 2rem;
margin-right: 1rem;
}

.container {
display: flex;
flex-direction: column;
align-items: left;
justify-content: left;
background-color: brown;
}

.wrapper-2 {
display: flex;
flex-direction: row;
align-items: left;
}

.wrapper {
width: 100%;
background-color:darkgoldenrod;
}

.nav-game {
display: flex;
flex-direction: row;
justify-content: left;
}

.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    width: 100%;
}

.wrapper-3 {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding-top: 1rem;
}

/*playing area*/
.container-game {
display: flex;
width: 100%;
flex-direction: column;
align-items: center;
justify-content: center;
}

.user {
display: flex;
flex-direction: column;
height: fit-content;
width: fit-content;
margin-right: 15%;
justify-content: center;
align-items: center;
}

.com {
display: flex;
flex-direction: column;
height: 90%;
width: fit-content;
margin-left: 12%;
}

.mid {
display: flex;
flex-direction: column;
height: fit-content;
width: fit-content;  
}

.refresh {
display: flex;
flex-direction: row;
height: fit-content;
width: fit-content;
justify-content: center;
}
/*end playing area*/

.box-2 {
display: flex;
flex-direction: row;
height: fit-content;
width: fit-content;
background-color: darkgoldenrod;
}

.upper-link {
display: flex;
flex-direction: row;
height: fit-content;
width: fit-content;
}

.box-3 {
display: flex;
flex-direction: row;
height: 8rem;
width: 8rem;
border-radius: 10%;
background-color: whitesmoke;
margin-left: 20%;
padding-left: 1rem;
padding-top: 1rem;
margin-top: 1rem;
}

.box-4 {
display: flex;
flex-direction: row;
height: fit-content;
width: 8rem;
justify-content: center;
align-items: center;
font-weight: bold;
}


.suit{
border-radius: 0%;
max-width:6rem;
height: 6rem;
align-content: center;
}

.upper-suit{
border-radius: 0%;
max-width:4rem;
height: auto;
padding: 0%;
align-content: center;
}

.ref-btn{
border-radius: 0%;
max-width:2rem;
height: 2rem;
align-content: center;
background-color: transparent;
}

.result {
display: flex;
flex-direction: column;
width: 12rem;
height: 8rem;
border-radius: 10px;
justify-content: center;
align-items: center;
font-size: 6rem;
color:darkorange;
font-weight: bold;
padding: 1rem;
text-align: center;
}

.draw {
display: flex;
flex-direction: column;
width: 12rem;
height: 8rem;
background:#035B0C;
border-radius: 10px;
transform: rotate(-28.87deg);
justify-content: center;
align-items: center;
font-size: 2rem;
font-weight: bold;
color: whitesmoke;
padding: 1rem;
text-align: center;
}

.pwin {
display: flex;
flex-direction: column;
width: 12rem;
height: 8rem;
background: #4C9654;
border-radius: 10px;
transform: rotate(-28.87deg);
justify-content: center;
align-items: center;
font-size: 2rem;
font-weight: bold;
color: whitesmoke;
padding: 1rem;
text-align: center;
}

.cwin {
display: flex;
flex-direction: column;
width: 12rem;
height: 8rem;
background: #4C9654;
border-radius: 10px;
transform: rotate(-28.87deg);
justify-content: center;
align-items: center;
font-size: 2rem;
font-weight: bold;
color: whitesmoke;
padding: 1rem;
text-align: center;
}

p{
color:whitesmoke;
font-weight: bold;
font-size: 1rem;
}



  @media(max-width:750px){
    .user {
      display: flex;
      flex-direction: row;
      height: 100%;
      width: 100%;
      justify-content: center;
      margin-right: 0%;
      padding-top: 2rem;
    }
  
    .com {
      display: flex;
      flex-direction: row;
      height: fit-content;
      width: 100%;
      justify-content: center;
      margin-left: 0%;
      padding-bottom: 2rem;
    }
  
    .mid {
      display: flex;
      flex-direction: row;
      height: fit-content;
      width: 100%;
      justify-content: center;
      margin-left: 0%;    
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  
    .wrapper,.wrapper-3{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      justify-content: center;
    }
  
    .suit{
      border-radius: 0%;
      max-width:3rem;
      height: 3rem;
      padding: 0%;
      align-content: center;
    }
  
    .upper-suit{
      border-radius: 0%;
      max-width: 3rem;
      height: auto;
      padding: 0%;
      align-content: center;
    }
  
  .box-3 {
      display: flex;
      flex-direction: row;
      height: 5rem;
      width: 5rem;
      border-radius: 10%;
      background-color: whitesmoke;
      padding-left: 1rem;
      padding-top: 1rem;
      margin-left: 1rem;
    }
  
    .box-4 {
      display: flex;
      flex-direction: row;
      height: 5rem;
      width: 2rem;
      border-radius: 10%;
      margin-left: 1rem;
      padding-top: 1rem;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      transform: rotate(-90deg);
  }
  
    #kembali.box-2{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-left: 1rem;
      margin-right: 1rem;
    }
    
  
    .result {
      display: flex;
      flex-direction: column;
      width: 6rem;
      height: 4rem;
      border-radius: 10px;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      color:darkorange;
      font-weight: bold;
      padding: 1rem;
      text-align: center;
    }
  
    .draw {
      display: flex;
      flex-direction: column;
      width: 6rem;
      height: 4rem;
      background:#035B0C;
      border-radius: 10px;
      transform: rotate(-28.87deg);
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      font-weight: bold;
      color: whitesmoke;
      padding: 1rem;
      text-align: center;
    }
  
    .pwin {
      display: flex;
      flex-direction: column;
      width: 6rem;
      height: 4rem;
      background: #4C9654;
      border-radius: 10px;
      transform: rotate(-28.87deg);
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      font-weight: bold;
      color: whitesmoke;
      padding: 1rem;
      text-align: center;
    }
  
    .cwin {
      display: flex;
      flex-direction: column;
      width: 6rem;
      height: 4rem;
      background: #4C9654;
      border-radius: 10px;
      transform: rotate(-28.87deg);
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      font-weight: bold;
      color: whitesmoke;
      padding: 1rem;
      text-align: center;
    }
  
    p{
      font-size: 1rem;
    }
  }
  